<div class="card text-black mb-3" *ngFor="let e of episodes">
  <div routerLink="/detalle/{{ e.name }}">
    <h3 class="card-header">{{ e.episode }} - {{ e.name }}</h3>
    <div class="card-body">
      <p class="card-text"><b>ID:</b> {{ e.id }}</p>
      <p class="card-text"><b>Air date:</b> {{ e.air_date }}</p>
      <p class="card-text characters d-flex justify-content-end">
        <b>Nº Characters: </b> {{ e.characters.length }}
      </p>
      <p class="card-text"><b>URL:</b> {{ e.url }}</p>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="getData()">More Episodes</a>
    </li>
  </ul>
</nav>
